#navbar{
    background-color: $white;
}

.navbar {
    height: 12rem;
    font-size: 25px;

    #logo{
        width: 100px;
        height: 99px;
        margin-left: 100%;
        margin-right: 100%;
    }

    .nav-link{
        color: $black;
    }

    
    .navbar-hover {

        &:hover {
            color: $orange !important;
        }
    }

    .coll{
        background-color: $white;
    }

    .two{
        display: none;
    }
}