.footer{
    background-color: $black;
    height: auto;
    color: $white;
    padding-top: 60px;
    padding-bottom: 5px;
    text-decoration: none;

    .icon{
        background: $icon-black;
        font-size: 10px;
        height: 60px;
        width: 60px;
        margin: 0 15px;
        text-align: center;
        color: $white;
        text-decoration: none;

        &:hover{
            background-color: $icon-black-hover;
        }

        i{
            text-decoration: none;
        }
    }

    .author{
        margin-top: 50px;
        color: $gray;
    }
}