$red: #ff0000;
$black: #282c34;
$icon-black: #343841;
$icon-black-hover: #686c75;
$white: #ffffff;
$green: #008000;
$light-blue: rgb(0, 183, 255);
$gray: rgb(155, 155, 155);
$blueviolet: #833ab4;
$blue: #82d2e5;
$orange: rgba(253,29,29,1);
$yellow: rgba(252,176,69,1);