@import './colors';
@import './gradient';
@import '../components/NavbarComponent/_navbar';
@import '../components/FooterComponent/footer';
@import '../components/HomeComponent/home';
@import '../components/AboutComponent/about';
@import '../components/ContactComponent/contact';
@import './movil';

.center {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.bar {
    height: 8px;
    width: 100%;
}

.one {
    @include gradient(to right, $list1);
}

.two {
    @include gradient(to right, $list1);
}